.hero-btn {
    border-radius:200px;
    padding:17px 26px;
    background:linear-gradient(170deg, #FF79DA, #9356DC,);
    border-color:#ffff;
    color:#ffff;
    box-shadow:$boxshadowColorHeader;
    &:hover{
        filter:brightness(1.1);
        transition:brightness(1.1) .3s;
        box-shadow:$boxshadowHeroButtonHover;
    }
}
