.loader {
    background-color:$backgroundColorBloc;
    position:fixed;
    z-index:10;
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    animation:fade-in 3s $transitionTimingLoader forwards;
    &__ring {    
       @include ring($height:120px, $width:120px);
        animation: ring 1s linear infinite;
    }
  }

@keyframes fade-in {
    0% {
        opacity: 0.9;   
    }
    100% {
        opacity: 0;
        z-index:-1;
    }
  }

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        z-index: -1;
    }
}
  