.operation {
    padding:40px 20px;
}

.operation h2 {
    font-weight:bold;
    font-size:22px;
    margin-bottom:25px;
}

.operation-steps {
    display:flex;
    flex-direction:column;
    gap:25px;
}

.operation-step {
    display:flex;
    align-items: center;
    background-color:#f6f6f6;
    padding:25px;
    border-radius: 20px;
    box-shadow:2px 2px 8px #e6e6e6;
}

.operation-number {
    border-radius: 200px;
    background-color:#9356DC;
    color: #ffff;
    padding: 5px 9px;
}

.operation-icon {
    color: #7e7e7e;
}