.restaurants {
    padding:50px 20px;
    background-color:$backgroundColorBloc;
}

.restaurants h2 {
    margin-bottom: 25px;
}

.restaurants-lists {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    @media screen and (max-width:768px) {
        display:flex;
        flex-direction:column;
    }
}

.restaurant-card {
    position:relative;
    width: 25%;
    background-color:#ffff;
    border-radius: 20px;
    box-shadow: $boxshadowColorCard;
    &:hover {
        transform: scale(1.02);
    }
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.new-restaurant {
    color:$colorNewMenu;
    padding: 10px;
    background-color:$colorTertiary;
    position:absolute;
    top:10px;
    right:20px;
}

.restaurant-image {
    height:230px;
    width:100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.restaurant-block {
    padding:15px;
    display:flex;
    justify-content: space-between;
}

.restaurant-block h4 {
    font-size:18px;
    font-weight:600;
    margin-bottom:5px;
}

.restaurant-location {
    font: size 16px;
    font-weight:350;
}
.like-btn {
    font-size:25px;
    .like-btn--checked {
    color:transparent;
    background:linear-gradient(170deg, #FF79DA, #9356DC,);
    background-clip:text;
    /*clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    */}
}

