.restaurants {
    padding:50px 20px;
    background-color:$backgroundColorBloc;
    
    h2 {
        margin-bottom: 25px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        @include mobil-only {
            display:flex;
            flex-direction:column;
        }
    }
}

.restaurant-card {
    position:relative;
    width: 25%;
    background-color:$colorFooterButtonRestoCard;
    border-radius: 20px;
    box-shadow: $boxshadowColorCard;
    @include mobil-only {
        width: 100%;
    }

    &__image {
        height:180px;
        width:100%;
        border-radius: 20px 20px 0px 0px;
    }

    &__body {
        position:relative;
        padding:15px;
        display:flex;
        justify-content: space-between;
        h4 {
            margin-bottom:5px;
        }
    }

    &__new {
        color:$colorNewMenu;
        padding:7px 12px;
        background-color:$colorTertiary;
        position:absolute;
        top:10px;
        right:12px;
        font-size:14px;
    }

    &__location {
        font-weight:350;
    }
}