//ring on the loading page
@mixin ring ($height:120px, $width:120px) {
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    border: 12px solid;
    border-color:$colorPrimary $colorTertiary $colorSecondary $colorPrimary;

}

//Green underline on the menu pages
@mixin greenUnderline ($color:$colorTertiary, $width:$greeenUnderlineWidth){
&::after {
    content:"";
    position:absolute;
    top:24px;
    left:1px;
    width: $greeenUnderlineWidth;
    height: 3px;
    background-color: $colorTertiary;
    }
}

//responsive for mobile
@mixin mobil-only {
    @media screen and (max-width: map-get($breakpoints, mobil)){
     @content;
    }
}

//responsive for desktop or tablet
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)){
     @content;
    }
}

@mixin flexboxCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

//for footerTitle


