$colorPrimary:#9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorOperationCardHover:#f5edff;

$backgroundColorBloc:#f6f6f6;
$backgroundColorFooter:#000000;

$boxshadowColorHeader:0 2px 4px 0 rgba(0, 0, 0, 0.2);
$boxshadowColorCard:2px 2px 8px 0 rgba(0, 0, 0, 0.2);

