footer {
    background-color:$backgroundColorFooter;
    color:$colorFooterButtonRestoCard;
    padding:40px 20px;
    display:flex;
    justify-content: space-between;
    @media screen and (max-width:$max-width) {
        flex-direction: column;
    }
}

.footer__title {
    font-size: 20px;
    font-weight: 400;
    font-family:$fontFamilyTitle;
}

.footer__icon {
    text-align: center;
    font-size:$fontSizeFooterIcon;
    width:12px;
}

.footer__nav {
    margin-left: 100px;
    display:flex;
    @media screen and (max-width:$max-width) {
        flex-direction: column;
        margin-left:0px;
        margin-top:20px;
    }
}

.footer__nav a {
    list-style: none;
    display:flex;
    padding: 0px 30px;
    align-items: center;
    gap:10px;
    @media screen and (max-width:$max-width) {
        padding: 5px 0px;
    }
}

.footer__text {
    font-weight:400;
}