.header-title {
    display:flex;
    justify-content: center;
    position:relative;
    box-shadow:$boxshadowColorHeader;
}

.header-logo {
    font-family:'Shrikhand', cursive;
}

.header-menu {
    font-family:'Shrikhand', cursive;
    display:flex;
}

.header-menu-logo {
    font-family:'Shrikhand', cursive;
    font-weight:400;
}