//header sur la page home
.home-header {
    @include flexboxCenter;
    position:relative;
    box-shadow:$boxshadowColorHeader;
}

//header sur les pages menus
.menu-header {
    @include flexboxCenter;
    position:relative;
    &__icon {
        font-size:$fontSizeArrowLeft;
        position:absolute;
        left:20px;
        top:20px;
    }
}