.menu {
    position:relative;
    margin-top:-50px;
    padding: 40px 20px;
    border-radius: 35px 35px 0px 0px;
    background-color: #f6f6f6;
    @media screen and (min-width:1024px) {
        width:80vw;
        margin:-30px auto 0px auto;
        padding: 60px;
    }
}

.menu-hero-image {
    width:100%;
    height:280px;
    object-fit: cover;
}

.menu-header {
    display:flex;
    align-items: center;
    margin-bottom:10px;
    column-gap:33px;
}

.menu-title {
    font-family:'Shrikhand', cursive;
    font-size:28px;
    font-weight:500;
}

.menu-content {
    display:grid;
    grid-template-columns: 1fr;
    gap:30px;
    @media screen and (min-width:1024px) {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap:35px;
    }
}

.menu-list {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.menu-block h3 {
    margin: 22px 0px;
    position:relative;
    &::after {
        content:"";
        position:absolute;
        top:24px;
        left:1px;
        width: 43px;
        height: 3px;
        background-color: $colorTertiary;
    }
}

.menu-card {
    background-color: #ffff;
    padding: 13px;
    border-radius: 20px;
    box-shadow: $boxshadowColorCard;
    cursor: pointer;
    overflow: hidden;
}

.menu-card h4 {
    margin-bottom: 5px;;
}


.menu-card-description {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu-card-text {
    font-size: 15px;
    font-weight:390;
}

.menu-card-price {
    font-size:15px;
}

.menu-btn {
    display:flex;
    justify-content: center;
    padding: 40px 40px 0px 40px;
}
